
.login-form{
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form input{
    padding: 7px 10px;
    font-size: 1.2rem;
    margin-bottom: 25px;
    border: none;
    outline: none;
    border-bottom: 1px solid #777575;
    background-color: #f0eeee;
}
.login-form input:focus{
    border-bottom: 1px solid #2626ca;
    transition: border 0.5s ease-in;
}
input[type=submit]{
    background-color: #04AA6D;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
p{
    font-size: 1rem;
}
p span{
    color: #0b8156;
    font-size: 1.2rem;
    cursor: pointer;
}
p span:hover{
    text-decoration: underline;  
}

.googleLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #dedede;
    background-color: #cfcdcd;
    margin-bottom: 30px;
    cursor: pointer;
}

